* {
	margin: 0;
	padding: 0;
}
div.form-top {
	background: rgba(230, 0, 0, 0.9);
	color: #fff;
	margin: 50px auto 0px;
	border: 1px solid #ccc;
	border-radius: 5px 10px;
	width: 60%;
	text-align: center;
}
div.form-top h3{
	text-transform: uppercase;
	font-weight: bolder;
	padding: 10px;
}
form.budget {
	margin: 0px auto;
	border: 1px solid #ccc;
	border-radius: 5px 10px;
	width: 60%;
	text-align: center;
	padding: 20px;
}
/*footer*/
footer {
	width: 100%;
	background: rgba(255, 0, 0, 0.9);
	color: #fff;
	text-align: center;
	padding: 20px;
	bottom: 0px;
	position: sticky;
	margin-top: 120px;
}
div.cashathand {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	background: #f0a117;
	margin: 10px auto 0px;
}
div.cashmade {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	background: #0fe04b;
	margin: 10px auto 0px;
}
div.cashspent {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	background: #e01c0f;
	margin: 10px auto 0px;
}
div.profitmade {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	background: #0a88eb;
	margin: 30px auto 0px;
}
#cat, #cmd, #csp, #pmd {
	text-align: center;
}
#cat > h6{
	font-weight: bolder;
	color: green;
}
#cmd > h6{
	font-weight: bolder;
	color: blue;
}
#csp > h6{
	font-weight: bolder;
	color: red;
}
#pmd > h6{
	font-weight: bolder;
	color: cyan;
}